{% extends "base.html" %}
{% load  static %}

{% block content %}

<section>
    <h1>Register</h1>
    <form>
        <input type="text" placeholder="Correo electronico">
        <input type="text" placeholder="Nombres y apellidos">
        <input type="text" placeholder="Job">
        <input type="text" placeholder="Gender">
        <input type="text" placeholder="Birthdate">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Repeat password">
        <button type="submit">Register</button>
    </form>
</section>

{% endblock content %}