{% extends "base.html" %}
{% load  static %}

{% block title %} {{ post.title }} {% endblock title %}
{% block description %}{{ post.summary }}{% endblock description %}

{% block content %}

<main id="post">
    <section id="post-content" class="container">
        <div id="post-content-text">
            <h1>{{ object.title }}</h1>
            {{ object.content | safe }}
        </div>
        <div id="post-content-image">
            <img src="{{ object.image.url }}" />
            <form method="POST" action="{% url 'favorites_app:add-post' post.id %}">{% csrf_token %}
                <button>Add to favorites</button>
            </form>
        </div>
    </section>
</main>

{% endblock content %}