{% extends "base.html" %}
{% load  static %}

{% block content %}

<main id="register">
    <section id="register-title" class="container">
        <h1>Register</h1>
    </section>
    <section id="register-form" class="container">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.email }}
            {{ form.name }}
            {{ form.job }}
            {{ form.gender }}
            {{ form.birthdate }}
            {{ form.password }}
            {{ form.password2 }}
            {% for e in form.password2.errors %}
                <p class="form-error">Passwords does not match</p>
            {% endfor %}
            <p></p>
            {% comment %}
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
            {% endcomment %}
            <input type="submit" value="Register" />
            <span>or</span>
            <a href="{% url 'users_app:login' %}">Login</a>
        </form>
    </section>
</main>

{% endblock content %}