#post {
    > #post-content {
        gap: var(--spacing);
        > #post-content-text {
            flex: 1 1 50%;
            display: flex;
            flex-direction: column;
            gap: calc(var(--spacing) / 2);
        }
        > #post-content-image {
            flex: 1 1 50%;
            > img {
                display: flex;

                width: 100%;
                height: auto;
            }
            > form { 
                > button {
                    cursor: pointer;

                    display: flex;
                    justify-content: center;

                    width: 100%;

                    @include text-p;
                    background-color: $sec-color-dark;
                    color: $white;
        
                    border-radius: var(--spacing);
        
                    padding: calc(var(--spacing) / 2) var(--spacing);
                    margin-top: var(--spacing);

                    transition: background-color 0.3s;
                    &:hover {
                        background-color: $sec-color;
                    }
                }
            }
        }
    }
}